<!--modal for creating new post-->
  <div class="row ">
    <div class= "col-sm-4 custom-container jumbotron "> 
      <form class="form-horizontal">
          <fieldset>
            <legend>Create a new post</legend>
              <div class="form-group">
                <label for="postAuthor">Author</label>
                <input type="text" id="postAuthor" placeholder="author">
              </div>
              <div class="form-group">
                <label for="postTitle">Title</label>
                <input type="text" id="postTitle" placeholder="title" required maxlength="50">
              </div>
              <div class="form-group">
                  <button type="reset" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </fieldset>
      </form>
    </div>
  </div>


